<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <!-- <div class="container"> -->
<a class="navbar-brand  diffuse-light nav-color" [routerLink]="['/']">{{ 'Mate Match' | uppercase }}</a>
  <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/members']">Matchs </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/lists']">Lists</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/messages']">Messages</a>
    </li>

  </ul>

  <div class="dropdown" dropdown *ngIf="loggedIn()">
    <span>
      <img src="{{authService.currentUser?.photoUrl}}" alt="" >
    </span>
    <a class="dropdown-toggle text-light" dropdownToggle>
      Welcome {{authService.decodedToken?.unique_name | titlecase}}
    </a>

    <div class="dropdown-menu mt-3 dropdown-menu-right" *dropdownMenu>
      <a class="dropdown-item" [routerLink]="['/members/edit']" ><i class="fa fa-user"></i> Edit Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
    </div>
  </div>

  <div  *ngIf="!loggedIn()" style="float: right">
    <a class=" text-light" [routerLink]="['/register']" >
      Register
    </a>
  </div>

<!-- </div> -->
</nav>
