.nav-color{
  font-weight: 900;
    font-family: cursive;
}

.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}

img {
  max-height: 50px;
  border: 2px solid white;
  display: inline;
}

.mr-8{
  margin-right: 20px;
}
